<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
    <style>
        .center {

            /* width: 80%;  */
            border: 5px solid green;
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
            margin-bottom: auto;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>Insert</h1>
        <br>
        <br>
        <form method="post" enctype=multipart/form-data>
            <label>Name: </label>
            <input type="text" name="name1" id="name1" placeholder="Enter name">
            <br>
            <br>
            <label>Age: </label>
            <input type="text" name="age" id="age" placeholder="Enter age">
            <br>
            <br> 
            <label>Address: </label>
            <input type="text" name="addr" id="addr" placeholder="Enter address">
            <br>
            <br>
            <label>Mobile: </label>
            <input type="text" name="mob" id="mob" placeholder="Enter mobile">
            <br>
            <br>
            <button type="submit" name="ins_sub" id="ins_sub">Submit</button>
        </form>
        <br>
        <br>
    </div>
</body>
</html>